@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

:root{
  --card-h: 21.8125rem;
  --card-w: 37.5rem;
}

  body {
   @apply min-h-huge bg-white;
  }

  li::marker{
  width:3px;
  height:3px;
  color:#FFFFFF15
  }

  [data-state="true"]{

@apply text-red-300

  }

  strong {
  @apply text-brand-yellow;
  }

}


@layer utilities {
.gradient-bg {
  background: radial-gradient(circle at center,#FAE571, #0B0E1700);
}
  .gradient-text {
     @apply bg-gradient-to-r from-brand-gradient-from to-brand-gradient-to bg-clip-text text-transparent;
  }

  .hide{
    @apply lg:translate-x-[calc(2rem+var(--card-w))] translate-x-[calc(2rem+100%)];
}




    @media (max-width:834px) {
    #card {
            background-color: #0B0B0B;
            background-position: left -5dvw center;
      }
    }
    @media (min-width:340px) and (max-width:540px){
       #card {
            background-position: right -9dvw center;
            background-color: #0B0B0B;
            }
    }

    @media (max-width:340px){
       #card {
                background-position: right 50% center;
        }
    }


  }
